---
layout: editor
permalink: /extrahovat/
title: Extrahovat
fa_icon: fas fa-external-link-alt
description: Extrahovat části textu
options:
- ['09', 'Obsahující čísla', 'obsahujici-cisla']
- ['+420', 'Telefon', 'telefon']
- ['@', 'Email', 'email']
- ['www', 'URL adresy', 'url-adresy']
#- ['A...', 'Slova začínající na', 'slova-zacinajici-na']
#- ['...Z', 'Slova končící na', 'slova-koncici-na']
#- ['...', 'Slova obsahující', 'slova-obsahujici']
---

<div class="field is-grouped is-grouped-multiline">
  {% for item in page.options %}
  <div class="control">
    <div class="tags has-addons is-hover{% if forloop.first %} selected{% endif %}" id="{{ item[2] }}">
      <span class="tag{% if forloop.first %} is-link{% endif %}">{{ item[0] }}</span>
      <span class="tag">{{ item[1] }}</span>
    </div>
  </div>
  {% endfor %}

  <div class="control">
    <div class="tags has-addons start">
      <span class="tag">
        <span class="icon has-text-success">
          <i class="fas fa-cogs"></i>
        </span>
      </span>
      <span class="tag is-success has-text-weight-bold">START</span>
    </div>
  </div>
</div>