.navbar-menu .icon {
  display: block;
  margin: auto;
  text-align: center;
}

.navbar-item.is-tab.is-active {
  border-bottom-width: 2px;
}

.navbar-menu .navbar-item {
  display: block;
}

.navbar-menu .navbar-item p {
  text-align: center;
}

.is-hidden-mobile .navbar-item p {
  min-width: 5rem;
}

.is-hidden-tablet .navbar-item p {
  min-width: 2.5rem;
  font-size: .75rem;
}

.tags.is-hover, .tags.start {
  cursor: pointer;
}

.tags.is-hover:hover :last-child {
  background: #eaeaea;
}

.tags.start {
  transition: transform .2s;
}

.tags.start:hover {
  transform: scale(1.05);
}

/* https://github.com/jgthms/bulma/issues/1445 */

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}

/*.navbar .container {*/
/*  display: flex;*/
/*}*/

.logo {
  font-family: 'Righteous', cursive;
}