---
layout: default
---

{% if page.ready != 1 %}
<span class="icon is-large">
  <i class="has-text-grey fas fa-tools fa-2x"></i>
</span>
<p>Na tomto nástroji se ještě pracuje.</p>
<br>
{% endif %}

<div class="columns">
  <div class="column">
    <label>
      <textarea class="textarea" rows="10" placeholder="Vstupní text"></textarea>
    </label>
  </div>
  <div class="column">
    <label>
      <textarea class="textarea" rows="10" readonly placeholder="Výsledek"></textarea>
    </label>
  </div>
</div>

{{ content }}

<script src="/assets/js/main_source.js"></script>
